* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* header {
    background-color: #333;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

header {
    background-color: #333;
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap; 
}

.logo img {
    height: 50px;
    width: 50px;
}

nav.menu ul {
    display: flex;
    flex-wrap: wrap; /* Разрешаем перенос строк */
    justify-content: center; /* Центрируем элементы */
    gap: 10px; /* Расстояние между пунктами */

    list-style: none;
    display: flex;
    gap: 10px;
}

nav.menu ul li {
    margin-right: 20px;

    flex: 1 1 auto; /* Пункты меню занимают доступное пространство */
    text-align: center; /* Выравниваем текст в пунктах меню */
}

nav.menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

nav.menu ul li a:hover {
    text-decoration: underline;
}

main {
    flex: 1;
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}


/* Общие стили для страницы */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    padding: 20px;
}

h1 {
    margin: 10px 0;
}


/* Блоки с заданиями */
.assignments {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

.assignment-block {
    width: 150px;
    height: 150px;
    margin: 20px;
    background-color: #7a7a7a;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.assignment-block:hover {
    background-color: #b8b8b8;
}

.assignment-content h2 {
    font-size: 18px;
    margin: 0;
}

footer {
    margin-top: 50px;
    padding: 10px;
    background-color: #333;
    color: white;
}


@media (max-width: 768px) {
    header {
        flex-direction: row;
        text-align: center;
    }

    nav.menu ul {
        justify-content: center;
        flex-wrap: wrap;
        gap: 2px;
    }

    nav.menu ul li a {
        font-size: 14px; 
    }

    .assignment-block {
        flex: 1 1 calc(33% - 40px);
    }
}

@media (max-width: 568px) {
    header {
        flex-direction: row;
        text-align: center;
    }

    nav.menu ul {
        justify-content: center;
        flex-wrap: wrap;
        gap: 2px;
    }

    nav.menu ul li a {
        font-size: 10px; 
        flex-wrap: wrap;
    }

    .assignment-block {
        flex: 1 1 calc(33% - 80px);
    }
}
@media (max-width: 480px) {
     h1 {
        font-size: 1.5rem;
    }

    p {
        font-size: 0.9rem;
    }

    /*.assignment-block {
        flex: 1 1 calc(33% - 60px);
    } */

    header {
        flex-direction: row;
        text-align: center;
    }

    nav.menu ul {
        justify-content: center;
        gap: 1px;

        flex-wrap: wrap; /* запрет перенос строк */
        /* overflow-x: auto; горизонтальная прокрутка */
        white-space: nowrap;

    }

    nav.menu ul li a {
        font-size: 10px; 
    }

    .assignment-block {
        flex: 1 1 calc(33% - 180px);
    }
}





.poem {
    max-width: 800px; 
    margin: 30px auto; 
    font-family: "Georgia", serif; 
    font-size: 18px; 
    line-height: 1.8; 
    text-align: justify; 
    padding: 20px;
    background-color: #f9f9f9; 
    border-left: 4px solid #333; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.poem h2, .poem h4 {
    font-size: 24px; 
    text-align: center;
    margin-bottom: 20px;
    color: #444;
}
.poem h4 {
    font-size: 16px;
}

.poem p {
    margin-bottom: 15px; 
}

.poem p:last-child {
    margin-bottom: 0; 
}

.author {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-bottom: 20px; 
}

.author-photo {
    height: 100px;
    width: 100px;
    border-radius: 50%; 
    margin-right: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.author h2 {
    font-size: 24px; 
    margin: 0; 
    color: #444;
}

.gallery {
    margin: 30px auto;
    max-width: 1200px; 
    padding: 10px;
    text-align: center;
}

.gallery h3 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #444;
}

.gallery-images {
    display: flex;
    flex-wrap: wrap; 
    gap: 10px; 
    justify-content: center; 
}

.gallery-images img {
    object-fit: cover; 
    width: 350px; 
    height: 250px; 
    border-radius: 8px;
}

.gallery-images img:hover {
    transform: scale(1.05); 
}

@media (max-width: 768px) {
    .gallery-images img {
        flex: 1 1 calc(33.333% - 10px); 
    }
}

@media (max-width: 480px) {
    .gallery-images img {
        flex: 1 1 calc(50% - 10px); 
    }
}

.rules {
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}